@import 'login';

.poppins-regular {
    font-family: 'Poppins' !important;
    font-weight: 400 !important;
}

.poppins-light {
    font-family: 'Poppins' !important;
    font-weight: lighter !important;
}

.justified {
    text-align: justify;
}
